$colors: (
  primary-style-color: #58dbd3,
  menu-hover-color: #cf1a2b,

  logo-text-color: #06b5a9,
  btn-bg-color: #d62132,
  card-border-color: #c5c5c5,
  card-hover-border-color: #ff7582,

  footer-bg-color: #1b2330,
  primary-text-color: #626262,
  secondary-text-color: #ffffff,
  footer-text-color: rgba(#fff, 0.5)
);